<div class="jumbotron">
  <h1><i class="fa fa-compass fa-spin"></i> STYX Project manager</h1>
  <p>This is my smart TO Do app, made on Ruby on Rails</p>
  <%= link_to 'Sign Up', '#', class: "btn btn-primary btn-lg " %>
</div>